body {
    background: linear-gradient(90deg, #ffbd69 50%, #111d5e 50%);
}


.clock-quote #instructions {
    padding: 100px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

.info {
    padding: 6%;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
}


/* .clock {
    text-align: center;
    padding: 20px;
} */

#canvas {
    border-radius: 50%;
}


.back .front {
    
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


blockquote {
    position: relative;
    text-align: center;
    padding: 1.2em;
    border: none;
    margin: 20px auto 20px;
    max-width: 800px;
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 30px;
}

blockquote:after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    color: #1f2abe;
    top: 0;
    background: -moz-linear-gradient(top, #66cc66 0%, #66cc66 60%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, #66cc66 0%, #66cc66 60%, rgba(255, 255, 255, 0) 100%);

}

blockquote:before {
    content: "\f10d";
    font-family: "fontawesome";
    font-size: 20px;
    display: block;
    margin-bottom: 0.8em;
    font-weight: 400;
    color: #66cc66;
}

blockquote>cite,
blockquote>p>cite {
    display: block;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 700;
    font-style: normal;
    margin-top: 1.1em;
    font-style: italic;
}